<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
   <main>

            <div
               id="carouselExampleSlidesOnly"
               class="carousel slide"
               data-bs-ride="carousel"
               data-bs-interval="3000"
            >
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <img
                        src="./assets/backtrain.png"
                        class="d-block w-100"
                        alt=""
                     />
                  </div>
                  <div class="carousel-item">
                     <img
                        src="./assets/backwhite.jpg"
                        class="d-block w-100"
                        alt=""
                     />
                  </div>
                  <div class="carousel-item">
                     <img
                        src="./assets/back3.jpg"
                        class="d-block w-100 backcenter"
                        alt=""
                     />
                  </div>
                  <div class="carousel-item">
                     <img
                        src="./assets/backyellow.png"
                        class="d-block w-100 backtop"
                        alt=""
                     />
                  </div>
               </div>
            </div>
            <div class="cartelIndex d-flex flex-column justify-content-center align-items-center col-6 mx-auto">
               <h2 class="text-center text-white p-2 pt-3">BIENVENIDO A</h2>
               <h1 class="tituloIndex text-center text-white m-2 p-1 px-4">DIGIMON CARDS</h1>
               <h3 class="text-center text-white p-2">CREA TUS CARDS PERSONALIZADAS Y COMPARALAS CON TUS AMIGOS</h3>
               <a aria-current="page" href="/mycards"><button class="btn btn-light botonStart hovee text-center m-4 py-2 px-5">EMPECEMOS</button></a>
            </div>
         </main>
<%- include("partials/footer.ejs") %>
   </body>
</html>
