<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
         <main
            class="
               container
               bg-dark
               d-flex
               flex-column
               justify-content-center
               align-items-center
               p-5
            "
         >
            <div class="container perfil d-flex">
               <div class="col-4 mb-5"><img class="fotoPerfil" src="https://marketing4ecommerce.net/wp-content/uploads/2018/01/Depositphotos_3667865_m-2015-compressor.jpg" alt="imgPerfil" /></div>
               <div class="container">
                  <div class="d-flex">
                     <h3 class="text-white col-6">NOMBRE</h3>
                     <h3 class="text-white col-6">APELLIDO</h3>
                  </div>
                  <h3 class="text-white">EMAIL</h3>
               </div>
            </div>
         </main>
         <%- include("partials/footer.ejs") %>
   </body>
</html>
