<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
         <main
            class="
               container
               bg-dark
               d-flex
               flex-column
               justify-content-center
               align-items-center
               p-2
            "
         >
            <h2 class="text-white pb-4">CREAR CUENTA</h2>
            <form class="col-6 d-flex flex-column" method="POST" action="/signup">
               <div class="mb-3">
                  <label for="nombre" class="form-label text-white"
                     >Nombre</label
                  >
                  <input type="text" name="nombre" class="form-control" id="nombre" required/>
               </div>
               <div class="mb-3">
                  <label for="apellido" class="form-label text-white"
                     >Apellido</label
                  >
                  <input type="text" name="apellido" class="form-control" id="apellido" required/>
               </div>
               <div class="mb-3">
                  <label for="email" class="form-label text-white"
                     >Email</label
                  >
                  <input
                     type="email"
                     class="form-control"
                     name="email"
                     id="email"
                     aria-describedby="emailHelp"
                     required
                  />
               </div>
               <div class="mb-3">
                  <label for="password" class="form-label text-white"
                     >Contraseña</label
                  >
                  <input
                     type="password"
                     name="password"
                     class="form-control"
                     id="password"
                     required
                  />
                  <div id="emailHelp" class="form-text text-white">
                     Ingresa la contraseña que te pinte pa.
                  </div>
               </div>
               <div class="mb-3">
                  <label for="picture" class="form-label text-white"
                     >Foto de perfil</label
                  >
                  <input
                     type="text"
                     class="form-control"
                     name="picture"
                     id="picture"
                     required
                  />
               </div>
               <button type="submit" class="btn btn-success text-center mt-3">
                  ENVIAR
               </button>
               <h3 class="text-center"><%= error %></h3>
            </form>
         </main>
         <%- include("partials/footer.ejs") %>
   </body>
</html>
