html * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Inconsolata", monospace;
}

main {
   min-height: 85vh;
}

.carousel-item img {
   height: 85vh;
   object-fit: cover;
   object-position: bottom;
}

.carousel-item img.backcenter {
   object-position: center;
}

.carousel-item img.backtop {
   object-position: top;
}

#botHome {
   position: absolute;
   top: 45%;
   left: 25%;
}

.perfil {
   width: 50%;
}
.fotoPerfil {
   width: 150px;
}

.myCard {
   box-shadow: rgba(255, 255, 255, 0.651) 0px 2px 5px 0px;
   width: 60%;
   background: rgb(8, 5, 0);
   background: linear-gradient(
      166deg,
      rgb(0, 0, 0, 0.8) 0%,
      rgba(24, 219, 203, 0.8) 25%,
      rgba(221, 218, 13, 0.8) 50%,
      rgba(207, 126, 19, 0.8) 75%,
      rgb(0, 0, 0, 0.8) 100%
   );
}

.myCard:hover {
   box-shadow: rgb(255, 255, 255) 0px 2px 5px 0px;
   width: 60%;
   background: rgb(8, 5, 0);
   background: linear-gradient(
      166deg,
      rgb(0, 0, 0, 1) 0%,
      rgba(24, 219, 203, 1) 25%,
      rgba(221, 218, 13, 1) 50%,
      rgba(207, 126, 19, 1) 75%,
      rgb(0, 0, 0, 1) 100%
   );
}

.imgTarjeta,
.imgTarjetaDigimon {
   width: 100px;
}

.imgTarjetaDigimon {
   box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
   border-radius: 5px;
}

.imgPersonaje {
   height: 250px;
}

.imgPerfil {
   width: 60px;
   height: 60px;
   border-radius: 50px;
   margin: 0px 10px;
   background-position: center;
   background-size: cover;
}

.cartelIndex {
   position: absolute;
   top: 32%;
   left: 25%;
   background-color: rgba(0, 0, 0, 0.719);
   border-radius: 10px;
}

.botonStart {
   font-size: 20px;
}

.tituloIndex {
   font-weight: 700;
   font-size: 5rem;
   border-radius: 10px;
   background: rgba(8, 5, 0, 0.534);
   background: linear-gradient(
      166deg,
      rgb(0, 0, 0, 0.6) 0%,
      rgba(24, 219, 203, 0.6) 25%,
      rgba(221, 218, 13, 0.6) 50%,
      rgba(207, 126, 19, 0.6) 75%,
      rgb(0, 0, 0, 0.6) 100%
   );
}

.hovee:hover {
   color: coral;
}

.textoError {
   background-color: rgba(252, 172, 1, 0.473);
   border-radius: 10px;
   color: chartreuse;
}
